#bioSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bioText {
    order: 0;
    text-align: initial;
    font-size: 11vmin;
    padding: 0 12vmin;
}

#autor {
    order: 1;
    font-size: 4vmin;
    padding: 0 12vmin;
    text-align: right;
}