.albunsCapas {
    background-color: #bba34d;
}

.fp-section {
    text-align: center
}

.capas {
    width: 80vmin;
    height: 80vmin;
}

#capaApego {
    order: 0;
}

#capaCcufg {
    order: 1;
    width: 90vmin;
}

#capaEp {
    order: 2;
}
