.albunsCapas {
    background-color: #bba34d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-section {
    text-align: center
}

.capas {
    width: 70vmin;
    height: 70vmin;
}

#capaCcufg {
    width: 90vmin;
}
/* 
#capaEp {
    width: 100vmin;
} */

.fab {
    font-size: 12vmin;
    margin: 5vmin 5vmin 0 5vmin
}

.fab.fa-spotify:hover {
    color: #5fe252
}

.fab.fa-youtube:hover {
    color: #dc1313
}
