.albunsCapas {
    background-color: #bba34d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-section {
    text-align: center
}

.capas {
    width: 60vmin;
    height: 60vmin;
}

.fab {
    font-size: calc(15px + 6vmin);
    margin: 5vmin 5vmin 0 5vmin
}

.fab.fa-spotify:hover {
    color: #10793f
}

.fab.fa-youtube:hover {
    color: #d65757
}

.fab.fa-facebook:hover {
    color: #8bc1f3
}

.fab.fa-instagram:hover {
    color: rgb(206, 167, 61)
}

.fab.fa-github:hover {
    color: #536577;
}

.btn-social:hover {
    animation-fill-mode: both;
    cursor: pointer;
    transition: all 0.3s;
}

.mobile {
    width: 100%;
    background-color: rgba(63, 81, 181, 0.5);
}

.slideMobile {
    transform: rotate3d(6, 25, 0, 46deg);
    position: absolute;
    box-shadow: -4px -4px 2px 2px antiquewhite;
}

.mobile #capaApego {
    z-index: 3;
    right: 7vmin;
    margin-top: 26vmin;
}

.mobile #capaCcufg {
    z-index: 2;
    right: 20vmin;
    margin-top: 19vmin;
}

.mobile #capaEp {
    z-index: 1;
    right: 33vmin;
    margin-top: 12vmin;
}
