@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
}

.App-header {
  background-color: #4c0b12;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./capa.jpg");
  filter: invert(15%);
  background-position: center;
  background-size: cover;
}

.globo {
  /* display: none; */
  order: 0;
  font-size: 1.7em;
  position: absolute !important;
}

#languagePick {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 190px;
  transition-duration: 0.5s;
  position: absolute;
  align-self: flex-start;
  margin-top: 5vmin;
}

#languagePick div {
  transition: 0.5s;
  margin: 10px;
}

#languagePick > div:hover {
  cursor: pointer;
  color: slategray;
}


.fa-globe-americas {
  align-self: flex-start;
  position: fixed;
  margin: 5vmin 7vmin 0 0;
}

.fa-globe-americas:hover + #languagePick {
  opacity: 1;
}

#languagePick:hover {
  opacity: 1;
}

.bandeiras {
  transition: all 0.2s;
  margin: 0 2vmin 0 2vmin;
}

.bandeiraEspanha, .bandeiraUSA, .bandeiraItalia {
  width: 58px;
}

.bandeiraEspanha:hover, .bandeiraUSA:hover, .bandeiraItalia:hover {
  width: 64px;
}

.bandeiraBrasil{
  width: 54px;
} 

.bandeiraBrasil:hover {
  width: 58px;
}
