#container{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
}

#map{
    height: 100%;
    width: 100%;
    float: right;
	-webkit-overflow-scrolling: auto;
}

#parteSemMapa {
    display: flex;
    height: 100%;
    width: 50vmin;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    height: 5vmin;
}

#addMarcadorNoBancoBtn {
    display: flex;
    height: 6vmin;
    width: 90%;
    margin-bottom: 6vmin;
    justify-self: flex-end
}

#titleMobile, 
#addMarcadorNoBancoBtnMobile, 
#divAddMarcadorNoBancoBtnMobile {
    display: none;
}

@media (max-width: 584px) {
    #container{
        height: 100%;
    }
    
    #map{
        height: 100%;
        position: absolute !important;
        width: 100%;
        -webkit-overflow-scrolling: auto;
    }
    
    #titleMobile {
        width: 100%;
        height: 55px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #3f51b5;
        color: #fff;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 17px;
        text-transform: uppercase;    
        align-self: flex-start;
    }

    #divAddMarcadorNoBancoBtnMobile {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #addMarcadorNoBancoBtnMobile {
        display: flex;
        width: 170px;
        position: fixed;
        bottom: 0;
        margin-bottom: 7vmin;
        z-index: 1;
        font-size: 16px;
        border-radius: 26px;
    }
}