@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
}

.globo {
  font-size: 1.7em;
}
.App-header {
  background-color: #4c0b12;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row; 
}

#languagePick h5 {
  transition: 0.5s;
  margin: 10px;
}

#languagePick > h5:hover {
  cursor: pointer;
  color: slategray;
}

#languagePick {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 22%;
  transition-duration: 0.5s;
  position: fixed;
  align-self: flex-start;
  margin-top: 5vmin;
}

.fa-globe-americas {
  align-self: flex-start;
  position: fixed;
  margin: 5vmin 7vmin 0 0;
}

.fa-globe-americas:hover + #languagePick {
  opacity: 1;
}

#languagePick:hover {
  opacity: 1;
}

.btn-social:hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  cursor: pointer;
  transition: all 1s;
}

@keyframes fadeIn {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

.bandeiras {
  transition: all 0.2s;
}

.bandeiraEspanha {
  width: 44px;
}

.bandeiraBrasil{
  width: 40px;
} 

.bandeiraUSA{
  width: 44px;
}

.bandeiraBrasil:hover {
  width: 44px;
}

.bandeiraUSA:hover {
  width: 50px;
}

.bandeiraEspanha:hover {
  width: 50px;
}