body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sectionMobile {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sectionMobile #container, .sectionMobile #container #titleMobile {
  position: absolute;
}

#bioComponent {
  background-color: antiquewhite
}